# System files
.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.out
*.exe
push_swap

# Temp files
*.swp

# Debug files
*.dSYM/

# VS Code directory
.vscode/

#testing files
*.sh
*.txt
0